body {
    background: #023047;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.buttons button {
    background-color: #219ebc;
    color: white;
    border: none;
    padding: 10vh;
    border-radius: 5px;
    cursor: pointer;
    margin: 25px;
    font-size: 1.5rem;
}

.buttons button:hover {
    background-color: #ffb703;
}

.heading{
    border-radius: 5px;
    font-size: 3rem;
}

footer{
    position: fixed;
    left: 15px;
    bottom: 10px;
    text-align: left;
}

.input_field {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input_field:focus {
    border-color: #007bff;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5);
  }

  .submit_button {
    padding: 10px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit_button:hover {
    background-color: #0056b3;
  }

  .submit_button:active {
    background-color: #003d80;
  }

  .centered{
    width:100%;
    display: flex;
    justify-content: center;
  }

  #logout{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #logout:hover{
    background-color: #0056b3;
  }
  
  #startgame{
    background-color: #ffb703;
    padding: 20px;
  }

  table {
    width: 90%;
    padding: 5px;
    border-radius: 15px;
    border: solid white;
    table-layout: fixed;
  }

  td {
    border: solid white;
    border-width: 3px;
    text-align: center;
    vertical-align: middle;
    width: 30%;
  }
  th {
    text-align: center;
  }
  caption {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  h3 {
    margin-top: 55px;
  }