{% extends "index.html" %}
{%block main%}
<button id="logout" onclick="location.href='/logout'">Logout</button>
<h1 class="heading" id="home-heading">Welcome to TypeFaster, {{ username }}</h1>
<button id="startgame" class="submit_button" onclick="location.href='/game'">Start Game</button>
<h3>5 best results</h3>
<table>
    <tr>
        <th>Username</th>
        <th>Timestamp</th>
        <th>chars/minute</th>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ game[1] }}</td>
        <td>{{ game[4] }}</td>
        <td>{{ game[2] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}